In [12]:
name="john"
print(name)

john

## pandas library

In [38]:
#use pandas as liberary
import pandas as pd

In [40]:
data=pd.read_csv("Student Depression Dataset.csv")

## reviewing first five rows in dataset

In [44]:
#lookout first five rows of dataset
data.head(5)

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0

## numpy liberary

In [50]:
# use numpy as liberary
import numpy as np

In [52]:
data.replace(np.nan,"hi")

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,140685,Female,27.0,Surat,Student,5.0,0.0,5.75,5.0,0.0,5-6 hours,Unhealthy,Class 12,Yes,7.0,1.0,Yes,0
27897,140686,Male,27.0,Ludhiana,Student,2.0,0.0,9.40,3.0,0.0,Less than 5 hours,Healthy,MSc,No,0.0,3.0,Yes,0
27898,140689,Male,31.0,Faridabad,Student,3.0,0.0,6.61,4.0,0.0,5-6 hours,Unhealthy,MD,No,12.0,2.0,No,0
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,Less than 5 hours,Healthy,Class 12,Yes,10.0,5.0,No,1
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

## mean of CGPA

In [60]:
#to calculate mean of single column
data["CGPA"].mean()

7.65610417189348

## median Of CGPA

In [66]:
#to calculate median of CGPA
data["CGPA"].median()

7.77

## duplicated values

In [76]:
#for duplicated values
data["CGPA"].duplicated().sum()

0

## removing duplicated data

In [80]:
#for removing dupicate data
data=data.drop_duplicates(("CGPA"))

In [72]:
#after removing duplicate data
data["CGPA"].duplicated().sum()

0

## difference b/w list and arrays

In [84]:
list=[1,2,3]
list

[1, 2, 3]

In [88]:
arr=np.array([1,2,3])
arr

array([1, 2, 3])

## reviewing rows and column

In [90]:
# to review totalrows and column
data.shape

(332, 18)

## lookout null value

In [92]:
#to lookout null value of dataset
data.isnull

<bound method DataFrame.isnull of            id  Gender   Age           City Profession  Academic Pressure  \
0           2    Male  33.0  Visakhapatnam    Student                5.0
1           8  Female  24.0      Bangalore    Student                2.0
2          26    Male  31.0       Srinagar    Student                3.0
3          30  Female  28.0       Varanasi    Student                3.0
4          32  Female  25.0         Jaipur    Student                4.0
...       ...     ...   ...            ...        ...                ...
10757   54478  Female  20.0       Ludhiana    Student                4.0
11136   56382    Male  21.0       Srinagar    Student                1.0
19208   97300  Female  28.0         Kalyan    Student                1.0
20177  102163    Male  25.0         Bhopal    Student                5.0
20326  102952  Female  31.0         Rajkot    Student                4.0

       Work Pressure    CGPA  Study Satisfaction  Job Satisfaction  \
0                0.0  8.9700                 2.0               0.0
1                0.0  5.9000                 5.0               0.0
2                0.0  7.0300                 5.0               0.0
3                0.0  5.5900                 2.0               0.0
4                0.0  8.1300                 3.0               0.0
...              ...     ...                 ...               ...
10757            0.0  6.6400                 3.0               0.0
11136            0.0  7.0625                 4.0               0.0
19208            0.0  6.9800                 5.0               0.0
20177            0.0  6.4400                 1.0               0.0
20326            0.0  6.0900                 1.0               0.0

          Sleep Duration Dietary Habits    Degree  \
0              5-6 hours        Healthy   B.Pharm
1              5-6 hours       Moderate       BSc
2      Less than 5 hours        Healthy        BA
3              7-8 hours       Moderate       BCA
4              5-6 hours       Moderate    M.Tech
...                  ...            ...       ...
10757          5-6 hours       Moderate  Class 12
11136  Less than 5 hours      Unhealthy    B.Tech
19208          7-8 hours      Unhealthy       BBA
20177          5-6 hours      Unhealthy       LLB
20326          5-6 hours        Healthy       MCA

      Have you ever had suicidal thoughts ?  Work/Study Hours  \
0                                       Yes               3.0
1                                        No               3.0
2                                        No               9.0
3                                       Yes               4.0
4                                       Yes               1.0
...                                     ...               ...
10757                                   Yes              11.0
11136                                   Yes               9.0
19208                                    No               7.0
20177                                   Yes              10.0
20326                                    No               6.0

       Financial Stress Family History of Mental Illness  Depression
0                   1.0                               No           1
1                   2.0                              Yes           0
2                   1.0                              Yes           0
3                   5.0                              Yes           1
4                   1.0                               No           0
...                 ...                              ...         ...
10757               3.0                              Yes           1
11136               4.0                               No           1
19208               1.0                              Yes           0
20177               5.0                               No           1
20326               1.0                              Yes           0

[332 rows x 18 columns]>

## total sum of null value

In [100]:
#sum of null value
data.isnull().sum()

id                                       0
Gender                                   0
Age                                      0
City                                     0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64

## duplicate value

In [102]:
#to reviewing duplicate value
data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
10757    False
11136    False
19208    False
20177    False
20326    False
Length: 332, dtype: bool