# -Quiz#2
* Name-Umer tanveer
*  Name-Kazim tanveer
* evening

In [2]:
import pandas as pd
import numpy as np

# 1.What is NumPy, and why is it important for data science?

In [4]:
# Numpy:
# Numpy is a library and is commonly used with in datascience.In order to work through numerical analysis and functions.

# Importance:
# * It is used to deal with arrays.
# * It deals with numerical values.
# * It deals with mathematical formulas.

# 2.Explain the difference between a Python list and a NumPy array?

In [6]:
## PYTHON LIST:
# In python lists data stores on vacant places without any group.
# These are homogenious or hetrogenous in nature.
# lists doesnot perform mathematical expressions.
# list consumes high memory.
# e.g list=[1,2,3,"Apple"]

## numpy array:
# Array is a data structure and all data is stored combined.
# These are homogenous in nature.
# It consumses less space.
# It performs mathematical expressions.
# e.g np.array([1,2,3,"Apple"])

# 3.How do you create a NumPy array of zeros with a specific shape?

In [8]:
import numpy as np
array=np.zeros((1,3))
print(array)

[[0. 0. 0.]]

# 4.What are the common data types in NumPy arrays?

* integers. 
* float.
* boolean.
* complex float.
* object.
* unsigned integers.
* timedalta.

# 5.Explain the difference between the loc and iloc indexers in Pandas?

In [30]:
# loc:
#  Label-based indexing: loc uses explicit labels or names to access data,
#  this means you can directly specify the row and column labels you want to select.

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)
row=["a","b","c"]
df.index=row
print(df)

# select the third value of age
print("the third value of age is")
df.loc["c","Age"]

      Name  Age      City
a    Alice   25  New York
b      Bob   30    London
c  Charlie   22     Paris
the third value of age is

22

In [32]:
# iloc:
# * Integer-based indexing: iloc uses integer positions to access data.
# This means you specify the row and column positions (starting from 0) to select.
# Select the first two rows
print(df.iloc[0:2])

# Select the first row and all columns
print(df.iloc[0, :])

# Select the first two rows and the first two columns
print(df.iloc[0:2, 0:2])

    Name  Age      City
a  Alice   25  New York
b    Bob   30    London
Name       Alice
Age           25
City    New York
Name: a, dtype: object
    Name  Age
a  Alice   25
b    Bob   30

# 6.How do you import data from a CSV file into a Pandas DataFrame?

In [ ]:
data=pd.read_csv(r"Downloads\Student Depression Dataset.csv")
df=pd.DataFrame(data)
df.head()

# 7.How do you select specific columns or rows from a DataFrame?

In [ ]:
df.iloc[[2,6],[1,3]]

# 8.How do you handle missing values (NaN) in a DataFrame?

In [ ]:
# we can fill missing values by fillna method,bfill method,ffill method,by putting mean ,mode,median

data1={"EMPID":["E01","E02","E03","E04","E05"],
    "name":[None,"umer","ali","ahmed",None],
      "last_name":["khan","tanveer","amjd","umer","safeer"],
      "age":[20,23,None,24,None],
      "department":["cs","se","ds","it","bba"]}
df1=pd.DataFrame(data1)

In [ ]:
data2={"EMPID":["E01","E02","E03","E04","E06"],
    "name":["tayyab","kashif","asad","tariq","qamar"],
      "last_name":["asad","tariq","kashif","hatim","john"],
       "salary":[1000,2000,3000,4000,5000],
       "salary_2":[16000,28000,38000,48000,9000],
      "age":[20,22,23,None,24],
      "department":["d_form","bs_maths","law","english","stats"]}
df2=pd.DataFrame(data2)
print(df2)

In [ ]:
df2.isnull().sum()

In [ ]:
df2['age'].fillna(method="bfill")

# 9.What is the difference between concat and merge in Pandas?

In [ ]:
# In concat two datasets are combined vertically and horizontally.
# In merge two data sets are merged with speceific common columns or index.
pd.merge(df1,df2,on="EMPID")

In [ ]:
pd.concat([df1,df2])

# 10.How do you find the mean, median, and mode of a NumPy array?

In [ ]:
from scipy import stats
arr = np.array([1, 2, 2, 3, 4, 4, 4, 5, 6])
#  mean
mean = np.mean(arr)
# median
median = np.median(arr)
#  mode
mode = stats.mode(arr)
print( arr)
print("mean")
print( mean)
print("median")
print( median )
print("mode")
print( mode)

# 11.Explain the concept of array slicing in NumPy

In [ ]:
# The process of extraction portion of array, with slicing we can easily acess element in array.

a=np.array([[1,2,3],[4,5,6],[7,8,9]])
print(a[:2,:2])

# 12.What is Pandas, and what are its key data structures?

Pandas is a python liberary providing fast and flexible data structure design to make working with relational or lebeled data both easily.

## key data structure 
* Series
* DataFrames

# 13.What is broadcasting in NumPy, and how does it work?

In [ ]:
# Broadcasting is a feature in numpy that allows arays of different shapes to be used in arthematic operation.
# working..
# broadcasting in numpy is numpy's ability to stretch and replicate smaller array to match dimension of larger one.

# Broadcasting a 1D array with a 2D array
a1 = np.array([2, 4, 6])
a2 = np.array([[1, 3, 5], [7, 9, 11]])
res = a1 + a2
print(res)

# 14.How do you perform element-wise addition, subtraction, multiplication, and  division on NumPy arrays?

In [ ]:
# Defining both the matrices
a = np.array([5, 72, 13, 100])
b = np.array([2, 5, 10, 30])
 
# Performing addition using arithmetic operator
add_ans = a+b
sub_ans =a-b
multi_ans =a*b
print(add_ans)
print(sub_ans)
print(multi_ans)

# 15.You have a DataFrame with a column containing dates. How would you: (a) Convert the date column to a datetime object? (b) Extract the year, month, and day from the dates? (c) Filter the DataFrame to select data from a specific date range?

In [ ]:
data = {'dates': ['2023-01-01', '2023-02-15', '2023-03-20', '2023-04-10']}
df = pd.DataFrame(data)

df['dates'] = pd.to_datetime(df['dates'])

df['year'] = df['dates'].dt.year
df['month'] = df['dates'].dt.month
df['day'] = df['dates'].dt.day

start_date = '2023-02-01'
end_date = '2023-03-31'

filtered_df = df[(df['dates'] >= start_date) & (df['dates'] <= end_date)]

# Results
print("Original DataFrame:")
print(df)

print("\nFiltered DataFrame (dates between 2023-02-01 and 2023-03-31):")
print(filtered_df)

# 16.GroupBy Operation and Aggregation Example?

In [ ]:
# Analyzing sales data for a retail store. The dataset includes information like:
# product_category (e.g., Electronics, Clothing, Food)
# sales_amount (e.g., total sales in dollars)
# store_location (e.g., New York, Chicago, Los Angeles)

data = {
    'product_category': ['Electronics', 'Clothing', 'Electronics', 'Food', 'Clothing', 'Food'],
    'sales_amount': [200, 150, 300, 100, 250, 120],
    'store_location': ['New York', 'Chicago', 'Los Angeles', 'New York', 'Chicago', 'Los Angeles']
}
df = pd.DataFrame(data)
grouped = df.groupby('product_category')['sales_amount'].mean()
print("Average sales for each product category:")
print(grouped)

# 17.How do you group data in a DataFrame and perform aggregations?

In [ ]:
df2.groupby("name").agg(
total_value=("salary",'sum'),
  avg_value= ("salary",'mean') 
).reset_index()

# 18.You have two DataFrames with some overlapping columns. Describe how you would perform an outer join and explain the significance of an outer join compared to an inner join?

In [ ]:
# Sample DataFrames
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
df2 = pd.DataFrame({'A': [1, 2, 4], 'B': [10, 11, 12], 'D': [13, 14, 15]})

# Outer Join
merged_df = pd.merge(df1, df2, on='A', how='outer')

print(merged_df)

#Explanation:
# * merge(): This function combines DataFrames based on a common column.
# * on='A': Specifies that the join should be performed on column 'A'.
# * how='outer': This is the key for an outer join. It includes all rows from both DataFrames, filling in missing values with NaN.

# Significance of Outer Join vs. Inner Join.

# * Inner Join: Returns only rows where the join condition (matching values in the specified column) is met in both DataFrames.
# * Outer Join: Returns all rows from both DataFrames, including those that don't have a match in the other DataFrame.
# Missing values are filled with NaN.
# When to Use Outer Join:
# * When you want to preserve all data from both DataFrames, even if there are no matches in the other DataFrame.
# * When you want to identify missing or unmatched data.
# * When you need a complete overview of all possible combinations.

# 19.Explain the concept of vectorization in NumPy. How does it improve the performance of numerical computations?

Vectorization in NumPy is a powerful technique that significantly enhances the performance of numerical computations. It involves performing operations on entire arrays or matrices at once, rather than iterating over individual elements using loops. This approach leverages NumPy's underlying C implementation, which is optimized for efficient array operations.
Here's how vectorization works and its benefits:
 * Eliminating Explicit Loops: Instead of writing explicit loops in Python, vectorization allows you to express operations directly on NumPy arrays. NumPy's built-in functions and operators are designed to work with entire arrays, performing the operation on each element simultaneously.
 * Efficient Memory Management: NumPy arrays are stored in contiguous blocks of memory, which allows for efficient memory access and manipulation. Vectorization takes advantage of this by operating on the entire array in a single operation, reducing the overhead of memory management compared to traditional loops.
 * Optimized C Implementation: NumPy's core functions are implemented in C, which is a lower-level language known for its performance advantages. By using vectorization, you effectively delegate the computational work to these optimized C routines, resulting in faster execution times.
 * Readability and Conciseness: Vectorized code is often more concise and easier to read than code that relies heavily on loops. This improves code maintainability and reduces the risk of errors.
Here's a simple example to illustrate the concept:

In [ ]:
# Create a sample NumPy array
x = np.array([1, 2, 3, 4, 5])

# Square each element using vectorization
result_vectorized = x**2

print("Result using vectorization:", result_vectorized)

# Square each element using a loop
result_loop = []
for value in x:
    result_loop.append(value**2)

print("Result using loop:", result_loop)

# 20.How do you filter rows in a DataFrame based on conditions?

In [ ]:
### Syntax:

# Sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [24, 27, 22, 32],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}

df = pd.DataFrame(data)

# Filter rows where Age is greater than 25
filtered_df = df[df['Age'] > 25]
print(filtered_df)


#1. *Multiple Conditions* (using logical operators & (and), | (or), and ~ (not)):
   # Filter rows where Age > 25 and City is 'Houston
filtered_df  = df[(df['Age'] > 25) & (df['City'] == 'Houston')]
print(filtered_df)

#2. *Using isin for multiple matches*:
 # Filter rows where City is 'Chicago' or 'Houston'
filtered_df = df[df['City'].isin(['Chicago', 'Houston'])]
print(filtered_df)

#3. *Using a custom function*:
   # Filter rows using a custom condition
filtered_df  = df[df['Name'].apply(lambda x: len(x) > 4)]
print(filtered_df)

#4. *Dropping rows with NaN values*:
filtered_df  = df[df['Age'].notna()]
print(filtered_df)